<?xml version="1.0" encoding="UTF-8" ?>
<plugin
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="net.sgj0.cordova.plugin.share"
  version="0.1.6"
>
	<name>Share</name>
	<description>Share</description>
	<license>Apache 2.0</license>
	<repo>https://github.com/sgj0/cordova-plugin-share</repo>
	<issue>https://github.com/sgj0/cordova-plugin-share/issues</issue>
	<keywords>share</keywords>
    <js-module src="www/share.js" name="Share">
		<clobbers target="window.navigator.share" />
	</js-module>
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="Share">
				<param name="android-package" value="net.sgj0.cordova.plugin.share.Share" />
			</feature>
		</config-file>
		<source-file
      src="src/android/Share.java"
      target-dir="src/net/sgj0/cordova/plugin/share"
    />
	</platform>
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="Share">
				<param name="ios-package" value="MMShare" />
			</feature>
		</config-file>
		<header-file src="src/ios/MMShare.h" />
		<source-file src="src/ios/MMShare.m" />
	</platform>
</plugin>
